<div class="text-center container w-25">
    <h2 class="text-center mt-5">Update profile</h2>
    <form action="/submit-profile-edit/{{userEditDetails._id}}" method="post">
        <h6 class="mt-3">Username</h6>
        <input type="text" name="username" placeholder="Enter username" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.username}}" required="">

        <h6 class="mt-3">Email</h6>
        <input type="text" name="email" placeholder="Enter email address" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.email}}" required="">

        <h6 class="mt-3">Phonenumber</h6>
        <input type="text" name="phonenumber" placeholder="Enter phone number" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.phone}}" required="">

        <button type="submit" class="btn btn-dark mb-5 mt-4 px-5 rounded-0">Update</button>
    </form>



</div>