<div class="text-center container w-25">
    <h2 class="text-center mt-5">Update profile</h2>
    <form action="/submit-profile-edit/{{userEditDetails._id}}" method="post" name="editprofileForm"
        onsubmit="return validateEditprofile()">
        <h6 class="mt-3">Username</h6>
        <input type="text" name="username" placeholder="Enter username" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.username}}">
        <label class="text-danger" id="namevalidate"></label>

        <h6 class="mt-3">Email</h6>
        <input type="text" name="email" placeholder="Enter email address" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.email}}">
        <label class="text-danger" id="emailvalidate"></label>

        <h6 class="mt-3">Phonenumber</h6>
        <input type="text" name="phone" placeholder="Enter phone number" class="form-control rounded-0 mt-3"
            value="{{userEditDetails.phone}}">
        <label class="text-danger" id="phonevalidate"></label>

        <button type="submit" class="btn btn-dark mb-5 mt-4 px-5 rounded-0">Update</button>
    </form>



</div>
<script>
    function validateEditprofile() {
        let name = document.forms['editprofileForm']['username'].value
        let email = document.forms['editprofileForm']['email'].value
        let phone = document.forms['editprofileForm']['phone'].value
        if (name == "" || name.trim() == "") {
            document.getElementById('namevalidate').innerHTML = 'Name must be filled out'
            return false
        } else if (email == "" || email.trim() == "") {
            document.getElementById('emailvalidate').innerHTML = 'Email must be filled out'
            return false
        } else if (!phone.match(/^[0-9]{10}$/)) {
            document.getElementById('phonevalidate').innerHTML = 'Enter a valid 10 digit phone number'
            return false;
        }
    }
</script>