<!--================Categories Banner Area =================-->
<section class="solid_banner_area">
    <div class="container">
        <div class="solid_banner_inner">
            <h3>LOgin</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="track.html">Login</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->

<!--================login Area =================-->
<section class="login_area p_100">
    <div class="container">
        <div class="login_inner">
            <div class="row">
                <div class="col-lg-4">
                    <div class="login_title">

                        {{#if blockStatus}}
                        <div class="text-danger" role="alert">
                            User Blocked
                        </div>
                        {{/if}}
                        {{#if loginErr}}
                        <div class="text-danger" role="alert">
                            Invalid User !!
                        </div>
                        {{else}}
                        <h2>log in your account</h2>
                        <p>Log in to your account to discovery all great features in this template.</p>
                        {{/if}}
                    </div>
                    <form name="loginForm" class="login_form row" action="/login" method="post" onsubmit="return validateLogin()">
                        <div class="col-lg-12 form-group">
                            <input class="form-control" type="email" name="email" placeholder="email">
                            <label class="text-danger" id="emailvalidate"></label>
                        </div>
                        <div class="col-lg-12 form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                            <label class="text-danger" id="passwordvalidate"></label>
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option" name="selector">
                                <label for="f-option">Keep me logged in</label>
                                <div class="check"></div>
                            </div>
                            <h4>Forgot your password ?</h4>
                        </div>
                        <div class="col-lg-12 form-group">
                            <a href="/signup">Dont have an account? Sign up</a>
                        </div>
                        <div class="col-lg-12 form-group">
                            <button type="submit" value="submit" class="btn update_btn form-control">Login</button>
                        </div>
                        <div class="col-lg-12 form-group">
                            <a href="/otp-login"><h4>OTP Login</h4></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End login Area =================-->

<script>
    function validateLogin(){
        let email = document.forms["loginForm"]["email"].value;
        let password=document.forms["loginForm"]["password"].value;
        if (email == "") {
            document.getElementById('emailvalidate').innerHTML = 'Email must be filled out'
            return false;
        } else if (password == "") {
            document.getElementById('passwordvalidate').innerHTML = 'Password must be filled out'
            return false;
        } else if (password.trim() == "") {
            document.getElementById('passwordvalidate').innerHTML = 'password must not be only spaces'
            return false;
        }
    }
</script>