<div style="height: 20rem;" class="m-5 text-center">
    <h4 >order placed successfully</h4>
<a type="button" class="text-decoration-none text-white px-2 mt-3 rounded" style="background: rgb(8, 8, 141);" href="/orders">view orders</a>
</div>